/NetBeansProjects/WebApplication1/nbproject/private/
/NetBeansProjects/WebApplication1/build/
/NetBeansProjects/Ejercicio1/nbproject/private/
/NetBeansProjects/Ejercicio1/build/
/NetBeansProjects/ApplicationJSP/nbproject/private/
/NetBeansProjects/ApplicationJSP/build/
/NetBeansProjects/ApplicationJSP/dist/
/NetBeansProjects/mavenproject1/target/
/NetBeansProjects/appPrueba/nbproject/private/
/NetBeansProjects/xxxx/nbproject/private/
/NetBeansProjects/xxxx/build/
/NetBeansProjects/EnterpriseApplication1/nbproject/private/
/NetBeansProjects/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/NetBeansProjects/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/NetBeansProjects/prueba/nbproject/private/
/NetBeansProjects/alumnos/target/
/NetBeansProjects/alumnos1/target/
